.signbox {
  display: flex;
}
.cards {
  width: 60vw;
}
.paperz {
  margin-left: 20px;
}
.resizer2 {
  transition: all ease 2s;
}
.resizer2:hover {
  transform:translateY(-20px);
}
@media screen and (max-width: 450px) {
  .col-res {
    line-height: 2rem !important;
  }
  .row-res {
    margin-top: 40vw !important;
  }
  .signbox {
    width: 95vw !important;
    display: flex !important;
    margin-right: auto !important;
    padding-left: 0px !important;
    margin-top: 100px;
    /* visibility: hidden; */
    margin-left: auto !important;
  }
  .resizer {
    margin-top: 30px;
    height: 73vh !important;
  }
  #forgotpassword {
    font-size: 11px;
  }
  .maza {
    font-size: 20px !important;
  }
  .cards {
    width: 100vw;
  }
  .description {
    width: 22rem !important;
  }
  .paperz {
    margin-left: -20px;
  }
  .table {
    width: 90vw !important;
  }
  .headz {
    font-size: 1rem !important;
  }
  .preview {
    width: 90vw !important;
    padding: 0 !important;
  }
}
