.arrow {
  position: relative;
  color: #0d6efd;
  animation: animx 2s infinite;
}
@keyframes animx {
  0% {
    /* position: absolute; */
    left: -10%;
  }
  100% {
    left: 10%;
    opacity: 0;
  }
}
.longSel {
  /* height:10px; */
  width: 287px;
  left: 500px;
  bottom: 20px;
  /* z-index: 100000000000; */
  /* position: absolute; */
  text-align: center;
  align-self: center;
}