.kkk {
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  background-image: url("./Red_and_blue.webp");
  /* position: absolute; */
  /* width: 100vw; */
}
.wraper {
  height: 100%;
}

@media screen and (max-width: 450px) {
  .small {
    width: 80vw !important;
    /* margin-right: auto !important; */
    /* margin-left: auto !important; */
    display: flex !important;
    justify-content: center !important;
    align-self: center !important;
  }
  .headz2 {
    font-size: 10px !important;
  }
}
.small {
  width: 55vw;
}
.shadows {
  animation: anim 3s infinite;
  text-align: center;
}
@keyframes anim {
  0% {
    box-shadow: 0px 0px 50px white;
  }
  50% {
    box-shadow: 6px 0px 50px white;
  }
  70% {
    box-shadow: -20px 2px 50px white;
  }
  100% {
    box-shadow: 0px 0px 50px white;
  }
}
.shadows2 {
  animation: anim2 1s infinite;
  text-align: center;
}
@keyframes anim2 {
  0% {
    box-shadow: 0px 0px 50px;
  }
  50% {
    box-shadow: 6px 0px 50px;
  }
  70% {
    box-shadow: -20px 2px 50px;
  }
  100% {
    box-shadow: 0px 0px 50px;
  }
}
.vibr {
  animation: vibra 5s infinite;
  color: red; /* transform: translateY(50%); */
  transform: translateX(-3%);
  /* position: absolute; */
  margin-right: auto;
  margin-left: auto;
  justify-self: center;
  text-align: center;
}
@keyframes vibra {
  2% {
    transform: translateX(30%);
  }
  4% {
    transform: translateX(-3%);
  }
  6% {
    transform: translateX(3%);
  }
  8% {
    transform: translateX(-3%);
  }
  10% {
    transform: translateX(3%);
  }
  12% {
    transform: translateX(-3%);
  }
  14% {
    transform: translateX(3%);
  }
  16% {
    transform: translateX(-3%);
  }
  18% {
    transform: translateX(3%);
  }
  20% {
    transform: translateX(-3%);
  }
  22% {
    transform: translateX(3%);
  }
  24% {
    transform: translateX(-3%);
  }
  26% {
    transform: translateX(3%);
  }
  28% {
    transform: translateX(-3%);
  }
  30% {
    transform: translateX(3%);
  }
  32% {
    transform: translateX(-3%);
  }
}
